node_modules
.env
.env.local
.env.*.local

# Hardhat files
cache
artifacts
typechain-types

# Coverage
coverage
coverage.json

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo
